body {
    background: red url(backg.jpg) 10px 10px repeat-x fixed;
}
nav {
    border: brown;
    border-style: groove;
}
@media screen and (max-width: 1279px) {
    body {
        background-color: blue;
    }
}
section {
    padding: 50px 100px 250px 300px;
    border: chocolate;
    border-style: groove;
}