html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(204,63,45,1) 64%, rgba(0,212,255,1) 100%);
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(194, 190, 255) 0%, rgba(204,63,45,1) 64%, rgba(0,212,255,1) 100%);
}

nav {
    border-bottom: brown;
    border-bottom-style: double;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(90deg, rgb(123, 121, 161) 0%, rgb(247, 184, 173) 64%, rgba(0,212,255,1) 100%);
}
.toUP {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}
.upIMG {
  max-width: 100%;
}
ul {
    display: flex;
    list-style-type: none;
}
nav:active {
    border: blue;
    border-style: double;
}
@media screen and (max-width: 1279px) {
    body {
        background-color: blue;
    }
}
.vertical-rl {
    writing-mode: vertical-rl;
    display: inline-flex;
    color: white;
    background-color: black;
}
.vertical-lr {
    display: inline-flex;
    writing-mode: vertical-lr;
    color: white;
    background-color: black;
}
.horizontal-tb {
    writing-mode: horizontal-bt;
    color: white;
    background-color: black;
    display: inline-flex;
}
section {
    padding: 10px 100px 50px ;
    width: 720px;


}
.wrapper-block {
    border: chocolate;
    display: block;
    border-style: groove;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(123, 121, 161) 0%, rgb(247, 184, 173) 64%, rgba(0,212,255,1) 100%);
    width: 920px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
body > nav > ul > li {
    border: red;
    border-style: double;
    border-radius: 10px;
    width: 10000px;
    text-align: center;

}
 body > nav > ul > li::first-letter {
    font-size: 2em;
    font-style: oblique;
}
/*
::spelling-error {
    text-decoration: wavy red;
} */
p:active {
    font-style: italic;
}
.content {
    border: chocolate;
    border-style: groove;
    margin-left: auto;
    padding: 10px;
    width: auto;
}

.wrapper-block > h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    border: chocolate;
    border-bottom-style: groove;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
}
.overfoluStandart {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.overfoluHidden {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.overfoluScroll {
    vertical-align: top;
    display: inline-block;
    overflow: scroll;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }
  thead, tfoot {
  background: url(leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
a:link {
  color: #265301;
}
a:visited {
  color:#437A16;
}
a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}
a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}
a:active {
  background: #265301;
  color: #CDFEAA;
}
a[href*="http"] {
  background: url(/iconslink.png) no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}