.container {
position: relative;
margin: 0 auto;
padding: 0;
width: 1000px;
height:1000px;
border: 2px solid black;
}

.target {
position: absolute;
margin: 0;
top: 30px;
right: 30px;
width: 100px;
height: 100px;
background-color: aqua;
border: 2px solid black;
}
    