/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */

html {
  width: 100%;
  height: 4647px;
  background: #ffffff;
  margin: 0 auto;
}
header {
  position: relative;
  vertical-align: top;
  width: 100%;
  background-image: url("/img/шапка4.jpg");
  height: 1080px;
  margin: 0;
  padding: 0;
  border: none;
}
.navbar {
  display: inline-block;
  position: relative;
}
.logo > p {
	margin: 0;
}
nav {
  display: inline-block;
}
