/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Playfair+Display:wght@700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */

html {
  width: 100%;
  height: 4647px;
  background: #ffffff;
  margin: 0 auto;
}
header {
  position: relative;
  vertical-align: top;
  width: 100%;
  background-image: url("/img/шапка4.jpg");
  height: 1080px;
  margin: 0;
  padding: 0;
  border: none;
}
.navbar {
  display: flex;
}
.logo {
  width: 90px;
  height: 55px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* margin-left: 120px; */
}
.orangeText {
  color: #f88275;
}
.navbar > nav > ul {
  display: flex;
  list-style-type: none;
  /* margin-left: 234px; */
  justify-content: space-between;
}
.navbar > nav {
  flex: 2;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height */

  color: #111b20;
}
.phone {
  flex: 1;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #111b20;
  margin-right: 120px;
}
.whitePhone {
  color: white;
}
.logo {
  flex: 1;
}
.logo > p,
.logo > img {
  display: block;
  margin: auto;
  padding: 0;
  text-align: center;
}

li > a:link,
li > a:visited,
li > a:active,
li > a:hover {
  text-decoration: none;
  color: #111b20;

  /* margin-left: 45px; */
}

.navbar li {
  width: 140px;
  text-align: center;
}
.hight-text {
  position: absolute;
  width: 654px;
  height: 67px;
  left: 120px;
  top: 375px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;

  /* identical to box height */

  /* white */
  color: #ffffff;
}
