/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */

html {
  width: 100%;
  height: 4647px;
  background: #ffffff;
  margin: 0 auto;
}
header {
  position: relative;
  vertical-align: top;
  width: 100%;
  background-image: url("/img/шапка4.jpg");
  height: 1080px;
  margin: 0;
  padding: 0;
  border: none;
}
.navbar {
  display: flex;
}
.logo {
  width: 90px;
  height: 55px;
  /* margin-left: 120px; */
}
.navbar > nav > ul {
  display: flex;
  list-style-type: none;
  /* margin-left: 234px; */
  justify-content: space-between;
}
.navbar > nav {
  flex: 2;
}
.phone {
  flex: 1;
  text-align: right;
}
.logo {
  flex: 1;
}
.logo > p,
.logo > img {
  display: block;
  margin: auto;
  padding: 0;
  text-align: center;
}

li > a:link,
li > a:visited,
li > a:active,
li > a:hover {
  text-decoration: none;

  /* margin-left: 45px; */
}

.navbar li {
  width: 140px;
  text-align: center;
}
