body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}
.box {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    background-color: rgb(207, 232, 220);
    padding: 1em;
    color: black;
    
}
.special {
    background-color: aqua;
    padding: 10px;
    color: blueviolet;
}
/*
.cleared {
    clear: left;
} */
.wrapper {
    background-color: rgb(58, 152, 189);
    padding: 10px;
    color: #fff;
    display: flow-root;
}
