body {
    width: 700px;
    min-height: 1400px;
    margin: 0 auto;
    border: 1px solid blue;
}
.wrapper {
    width: 500px;
    min-height: 1400px;
    margin: 0 auto;
}
.left-menu {
    position: fixed;
    top: 0;
}
ul {
    display: inline-block;
    position: relative;
    left: -20px;
    list-style: none;
}
li {
    border: 5px double blue;
    border-radius: 3px;
    margin: 2px;
    padding: 5px;
    text-align: center;
}
p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

span {
    background: red;
    border: 1px solid black;
}
h1 {
    position: fixed;
    top: 0;
    width: 500px;
    margin-top: 0;
    background: white;
    padding: 10px;
}
p:nth-of-type(1) {
    margin-top: 60px;
}
.stik {
    position: sticky;
    top: 60px;
    left: 0;
}